body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

select{
  text-align: center;
  text-align-last: center;
}


.center {
  line-height: 50px;
  height: 920px;
  border: 3px solid rgba(211, 149, 190, 0.431);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.center1 {
  line-height: 50px;
  height: 250px;
  border: 3px solid rgba(211, 149, 190, 0.431);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.box1 {
  line-height: 50px;
  margin: auto;
  width: 90%;
  border: 3px solid#b1e2f2;
  text-align: center;
  justify-content: center;
}

.schoolyear_Box {
  float:left;
  margin: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 24%;
  border: 3px solid #90a4ae;
  text-align: center;
  justify-content: center;
}

.box2 {
  line-height: 50px;
  margin: auto;
  width: 90%;
  border: 3px solid#fad993;
  text-align: center;
  justify-content: center;
}

.box3 {
  line-height: 50px;
  margin: auto;
  width: 50%;
  border: 3px solid#fad9ff;
  text-align: center;
  justify-content: center;
  padding: 10px;
}

.hh1{
  padding:5px;
  text-align:center;
  font-size:15px;
  color: #193b4d;
  font-family: Optima-Bold;
}

.hh2{
  padding:5px;
  text-align:center;
  font-size:15px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: #61dafb;
}

.hh3{
  padding:5px;
  text-align:center;
  font-size:15px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: #fad993;
}


.text1 {
  text-align: center;
  color: white;
  font-size: 10px;
}

.text2 {
  padding: 20px;
  text-align: center;
  color: #fad993;
  font-size: 10px;
}

.text3 {
  padding: 20px;
  text-align: center;
  color: #fad9ff;
  font-size: 10px;
}

.button_r {
  position: relative;
  top: 5px;
  left: 1130px;
  font-size: 16px;
  border:transparent;
  background-color: #2c194d;
  color: white;
  height: 25px;
  width: 75px;
  border-radius: 10px;
}

.button0 {
  height:35px;
  width:80px;
  background-color: white;
  color: darkblue;
  /* border: 2px solid rgb(189, 212, 241);
  border-radius: 20%; */
  border: transparent;
  font-size: 16px;
  text-align: center;
  vertical-align: right;
  position: absolute;
  padding: 8px;
  right: 60px;
}

.button_t {
  font-size: 15px;
  color: white;
  background-color:  darkblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button_t:hover {
  background-color:  darkslategray;
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.square {
  height:50px;
  width:300px;
  background-color: white;
  color: black;
  border: 2px solid #dbcfcf;
  border-radius: 25%;
  padding: 0;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  margin: 15px;
  align-self: center;
}


.button1 {
  height:100px;
  width:180px;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
  border-radius: 50%;
  padding: 0;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  margin: 15px;
}

.button2 {
  height:100px;
  width:180px;
  background-color: white;
  color: black;
  border: 2px solid yellow; /* Green */
  border-radius: 50%;
  padding: 0;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  margin: 15px;
}

.button3 {
  height:100px;
  width:180px;
  background-color: white;
  color: black;
  border: 2px solid orange; /* Green */
  border-radius: 50%;
  padding: 0;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  margin: 15px;
}

.button4 {
  height:100px;
  width:180px;
  background-color: white;
  color: black;
  border: 2px solid blue; /* Green */
  border-radius: 50%;
  padding: 0;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  margin: 15px;
}


.button5 {
  height:100px;
  width:180px;
  background-color: white;
  color: black;
  border: 2px solid red; /* Green */
  border-radius: 50%;
  padding: 0;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  margin: 15px;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'iconfont';  /* project id 1695304 */
  src: url('//at.alicdn.com/t/font_1695304_qh9x2bbwbr.eot');
  src: url('//at.alicdn.com/t/font_1695304_qh9x2bbwbr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1695304_qh9x2bbwbr.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1695304_qh9x2bbwbr.woff') format('woff'),
  url('//at.alicdn.com/t/font_1695304_qh9x2bbwbr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1695304_qh9x2bbwbr.svg#iconfont') format('svg');
}

.iconfont{ font-family:"iconfont"
  !important; font-size:30px;font-style:normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale;}


.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  flex-direction: column;
  position: absolute;
  margin-left: 676px;
  top: 51px;
  justify-content: center;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;

}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
